### Analysis of an E-commerce Dataset

We have been provided with a combined e-commerce dataset. In this dataset, each user has the ability to post a rating and review for the products they purchased. Additionally, other users can evaluate the initial rating and review by expressing their trust or distrust.

This dataset includes a wealth of information for each user. Details such as their profile, ID, gender, city of birth, product ratings (on a scale of 1-5), reviews, and the prices of the products they purchased are all included. Moreover, for each product rating, we have information about the product name, ID, price, and category, the rating score, the timestamp of the rating and review, and the average helpfulness of the rating given by others (on a scale of 1-5).

The dataset is from several data sources, and we have merged all the data into a single CSV file named 'A Combined E-commerce Dataset.csv'. The structure of this dataset is represented in the header shown below.

| userId | gender | rating | review| item | category | helpfulness | timestamp | item_id | item_price | user_city|

    | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |  ---- |  ---- |  
    
#### Description of Fields

* __userId__ - the user's id
* __gender__ - the user's gender
* __rating__ - the user's rating towards the item
* __review__ - the user's review towards the item
* __item__ - the item's name
* __category__ - the category of the item
* __helpfulness__ - the average helpfulness of this rating
* __timestamp__ - the timestamp when the rating is created
* __item_id__ - the item's id
* __item_price__ - the item's price
* __user_city__ - the city of user's birth

Note that, a user may rate multiple items and an item may receive ratings and reviews from multiple users. The "helpfulness" is an average value based on all the helpfulness values given by others.

There are four questions to explore with the data as shown below.



<img src="data-relation.png" align="left" width="400"/>

 #### Q1. Remove missing data
 
Please remove the following records in the csv file: 
 
 * gender/rating/helpfulness is missing
 * review is 'none'

__Display the DataFrame, counting number of Null values in each column, and print the length of the data__ before and after removing the missing data.

In [30]:
# your code and solutions
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv('files/The E-commerce Dataset.csv')
df = pd.DataFrame(data)
display(df)

#counting number of Null values in each column,

data.drop(labels=["gender", "rating", "helpfulness"], axis=1, inplace=True)
df = pd.DataFrame(data)
display(df)
data = data[data['review'] == 'none']

#new_df = files/The E-commerce Dataset_csv.drop(['gender', 'rating', 'helpfulness'], axis = 1)
#print_df.corr()

,userId,timestamp,review,item,rating,helpfulness,gender,category,item_id,item_price,user_city
0,4051,12807,Great job for what it is!,eBay,5.0,2.0,F,Online Stores & Services,88,149.00,39
1,4052,122899,Free Access Worth your Time,NetZero,5.0,0.0,F,Online Stores & Services,46,53.00,39
2,33,12700,AOL..I love you!!!!!!!!!!!!,AOL (America Online),5.0,4.0,F,Online Stores & Services,0,145.84,31
3,33,21000,EBAY!!! I LOVE YOU!!!! :-)*,eBay,5.0,4.0,F,Online Stores & Services,88,149.00,31
4,33,22300,Blair Witch...Oh Come On.......,Blair Witch Project,1.0,4.0,F,Movies,12,44.00,31
...,...,...,...,...,...,...,...,...,...,...,...
19995,10805,50600,The Upper Class Fast Food,Wendy's,2.0,3.0,F,Restaurants & Gourmet,84,69.00,18
19996,10806,82201,What more can you ask for????,Olive Garden,4.0,0.0,M,Restaurants & Gourmet,49,32.00,28
19997,10806,82201,Excellent steak for a good price,Outback Steakhouse,4.0,3.0,M,Restaurants & Gourmet,50,25.00,28
19998,10807,31504,Different story world,J. K. Rowling - Harry Potter and the Sorcerer'...,4.0,0.0,M,Books,36,96.00,27
19999,10808,10200,Boldly Displaying Sigourneys Cleavage ..,Galaxy Quest,4.0,0.0,M,Movies,29,67.00,11

,userId,timestamp,review,item,category,item_id,item_price,user_city
0,4051,12807,Great job for what it is!,eBay,Online Stores & Services,88,149.00,39
1,4052,122899,Free Access Worth your Time,NetZero,Online Stores & Services,46,53.00,39
2,33,12700,AOL..I love you!!!!!!!!!!!!,AOL (America Online),Online Stores & Services,0,145.84,31
3,33,21000,EBAY!!! I LOVE YOU!!!! :-)*,eBay,Online Stores & Services,88,149.00,31
4,33,22300,Blair Witch...Oh Come On.......,Blair Witch Project,Movies,12,44.00,31
...,...,...,...,...,...,...,...,...
19995,10805,50600,The Upper Class Fast Food,Wendy's,Restaurants & Gourmet,84,69.00,18
19996,10806,82201,What more can you ask for????,Olive Garden,Restaurants & Gourmet,49,32.00,28
19997,10806,82201,Excellent steak for a good price,Outback Steakhouse,Restaurants & Gourmet,50,25.00,28
19998,10807,31504,Different story world,J. K. Rowling - Harry Potter and the Sorcerer'...,Books,36,96.00,27
19999,10808,10200,Boldly Displaying Sigourneys Cleavage ..,Galaxy Quest,Movies,29,67.00,11

#### Q2. Descriptive statistics

With the cleaned data in Q1, please provide the data summarization as below:

* Q2.1 total number of unique users, unique reviews, unique items, and unique categories
* Q2.2 descriptive statistics, e.g., the total number, mean, std, min and max regarding all rating records
* Q2.3 descriptive statistics, e.g., mean, std, max, and min of the number of items rated by different genders 
* Q2.4 descriptive statistics, e.g., mean, std, max, min of the number of ratings that received by each items

In [32]:
# your code and solutions
#Q2.1 total number of unique users, unique reviews, unique items, and unique categories
print(data['userId'].unique().tolist())
print(data['review'].unique().tolist())
print(data['item'].unique().tolist())
print(data['category'].unique().tolist())

[71, 4461, 4896, 4980, 6148, 6560, 7123, 7206, 7731, 8167, 1788, 9017, 9093, 2098, 10028, 9841, 10393, 10489]
['none']
['Gladiator', "McDonald's", 'Pearl Harbor', 'MTV', 'AOL (America Online)', 'What Lies Beneath', 'NetZero', 'Blair Witch Project', 'The Sims 2: Open for Business for Windows', 'Dogma', 'Burger King', 'American Beauty', 'Scream 3', 'Scary Movie', 'Sixth Sense', 'Road Runner (includes MediaOne)']
['Movies', 'Restaurants & Gourmet', 'Media', 'Online Stores & Services', 'Games']

In [42]:
# your code and solutions
#Q2.2 descriptive statistics, e.g., the total number, mean, std, min and max regarding all rating records
data = pd.read_csv('files/The E-commerce Dataset.csv')
df = pd.DataFrame(data)

rating = df['rating']
rating.describe()

count    19983.000000
mean         3.701847
std          1.404619
min          1.000000
25%          3.000000
50%          4.000000
75%          5.000000
max          5.000000
Name: rating, dtype: float64

In [58]:
# your code and solutions
#Q2.3 descriptive statistics, e.g., mean, std, max, and min of the number of items rated by different genders

In [55]:
# your code and solutions
#Q2.4 descriptive statistics, e.g., mean, std, max, min of the number of ratings that received by each items

# Load the CSV file into a DataFrame (replace 'your_csv_file.csv' with the actual file path)
data = pd.read_csv('files/The E-commerce Dataset.csv')

# Filter out rows where 'number of ratings' is missing
data = data[data['rating'].notnull()]

# Group data by 'item' and calculate statistics
grouped_data = data.groupby('item').agg(
    mean_rating=pd.NamedAgg(column='rating', aggfunc='mean'),
    std_rating=pd.NamedAgg(column='rating', aggfunc='std'),
    max_rating=pd.NamedAgg(column='rating', aggfunc='max'),
    min_rating=pd.NamedAgg(column='rating', aggfunc='min')
)

# Print descriptive statistics for each item
print(grouped_data)

                       mean_rating  std_rating  max_rating  min_rating
item
AOL (America Online)      2.501059    1.372352         5.0         1.0
All Advantage             3.412481    1.541706         5.0         1.0
Alta Vista (by 1stUp)     3.541401    1.263341         5.0         1.0
Amazon.com                3.683333    1.571095         5.0         1.0
American Airlines         3.054054    1.417015         5.0         1.0
...                            ...         ...         ...         ...
Wendy's                   3.966825    1.092764         5.0         1.0
What Lies Beneath         3.447205    1.198440         5.0         1.0
X-Men                     4.118367    0.853074         5.0         1.0
X.com                     4.028736    1.472005         5.0         1.0
eBay                      4.333333    0.948919         5.0         1.0

[89 rows x 4 columns]

#### Q3. Plotting and Analysis

Please try to explore the correlation between gender/helpfulness/category and ratings; for instance, do female/male users tend to provide higher ratings than male/female users? Hint: you may use the boxplot function to plot figures for comparison (___Challenge___)
    
You may need to select the most suitable graphic forms for ease of presentation. Most importantly, for each figure or subfigure, please summarise ___what each plot shows___ (i.e. observations and explanations). Finally, you may need to provide an overall summary of the data.

In [ ]:
# your code and solutions

#### Q4. Detect and remove outliers

We may define outlier users, reviews and items with three rules (if a record meets one of the rules, it is regarded as an outlier):

* reviews of which the helpfulness is no more than 2
* users who rate less than 7 items
* items that receives less than 11 ratings 
 
Please remove the corresponding records in the csv file that involves outlier users, reviews and items. After that, __print the length of the data__.

In [1]:
# your code and solutions